@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

* {
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
}

a {
    color: black;
    text-decoration: none;
    border: 2px solid #dcc0fc;
    border-radius: 50px;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    margin: 5px;
    width: 300px;
}

a:hover {
    background-color: #dcc0fc;
    cursor: grabbing;
  }

body {
    background-image: url('https://64.media.tumblr.com/280246b43ccf85d95f77685c30b39b27/5806d87f98013d89-a2/s1280x1920/601610d293a39495ab422bbc25987cdf079060e0.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    font-family: 'Amatic SC', cursive;
    font-size: 30px;
    cursor: grab;
}

.container {
    background-color: white;
    width: 60vw;
    min-height: 90vh;
    text-align: center;
    border-radius: 20px;
}