a {
    color: white;
    text-decoration: none;
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

.bg {
    width: 100vw;
    height:100vh;
    background-image: url('https://wallpapercave.com/wp/wp8928196.png');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    filter: blur(30px);
    position: absolute;
    z-index: -1;
}

.loading-text {
    font-size: 50px;
    color: papayawhip;
}

.home {
        position: fixed;
        top: 0;
        right: 0;
        margin: 10px;
        cursor: pointer;
        animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }